.spacer {
  flex: 1;
}

.header {
  background-color: #fff;
  &__logo {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 16px;
  }
  &__button {
    margin-right: 16px;
  }
}

.search {
  display: flex;
  position: relative;
  flex: 1;
  max-width: 650px;
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    line-height: 32px;
    border-radius: 20px;
    width: 100%;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    color: rgba(0, 0, 0, 0.32);
  }
}
