<mat-toolbar class="header">
  <button mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="header__logo" mat-flat-button routerLink="/">Fil-Portal </a>

  <form class="search" (ngSubmit)="routeSearch(searchControl.value)">
    <input
      class="search__input"
      type="text"
      [formControl]="searchControl"
      autocomplete="off"
    />
    <mat-icon
      (click)="routeSearch(searchControl.value)"
      class="search__icon"
      color="primary"
    >
      search
    </mat-icon>
  </form>

  <span class="spacer"></span>

  <button class="header__button" mat-icon-button [routerLink]="['cart']">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button class="header__button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_box</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>マイページ</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>設定</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>ログアウト</span>
    </button>
  </mat-menu>
</mat-toolbar>
