.footer {
  background-color: #fff;
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  &__navs {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__copyright {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
    margin-left: 16px;
  }
}
