<h2>検索結果一覧 ヒット件数: {{ result?.nbHits }}</h2>
<div class="grid">
  <ng-container [ngSwitch]="searchResult">
    <ng-container *ngSwitchCase="false">
      <mat-card *ngFor="let hit of result?.hits">
        <p>supplier : {{ hit.supplier }}</p>
        <p>name : {{ hit.name }}</p>
        <p>composition : {{ hit.composition }}</p>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/detail', hit.articleId]"
        >
          詳細画面へ
        </button>
      </mat-card>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <mat-card *ngFor="let hit of resultList">
        <p>supplier : {{ hit.supplier }}</p>
        <p>name : {{ hit.name }}</p>
        <p>composition : {{ hit.composition }}</p>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/detail', hit.articleId]"
        >
          詳細画面へ
        </button>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
