h1 {
  font-size: 24px;
  text-align: center;
  margin: 40px 0;
}

.name-input {
  width: 100%;
}

.radio-group {
  margin-bottom: 32px;
  display: block;
  &__item {
    margin-right: 24px;
  }
}

.checkbox-group {
  margin-bottom: 32px;
  display: block;
  &__item {
    margin-right: 24px;
  }
}

.form-footer {
  text-align: center;
  margin-bottom: 32px;
}

.label {
  font-size: 14px;
}
