<div class="container">
  <mat-list dense>
    <mat-nav-list>
      <p mat-list-item>Supplier</p>
      <label class="check_lb">
        <mat-checkbox>Botto Giuseppe</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Linea Piu</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>ZhongDing</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Ferrari</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Filpiu</mat-checkbox>
      </label>

      <p mat-list-item>Composition</p>
      <label class="check_lb">
        <mat-checkbox>Wool</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Cotton</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Linen</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Cashmere</mat-checkbox>
      </label>

      <p mat-list-item>Season</p>
      <label class="check_lb">
        <mat-checkbox>21 SS</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>20-21 AW</mat-checkbox>
      </label>

      <p mat-list-item>Type</p>
      <label class="check_lb">
        <mat-checkbox>Worsted</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Woollen</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Fancy</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Semi-Worsted</mat-checkbox>
      </label>

      <p mat-list-item>Gauges</p>
      <label class="check_lb">
        <mat-checkbox>3-5gg</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>5-7gg</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>12-14gg</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>16-18gg</mat-checkbox>
      </label>

      <p mat-list-item>OtherFeatures</p>
      <label class="check_lb">
        <mat-checkbox>New for SS</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>New for AW</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Stock Service</mat-checkbox>
      </label>
      <label class="check_lb">
        <mat-checkbox>Sustainability</mat-checkbox>
      </label>
    </mat-nav-list>
  </mat-list>
</div>
